.portfolio-image {
    height: 350px;
    /* width: 100% */
}

.main-hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.283);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.button {
    background-color: whitesmoke;
    border: solid 2px #363636;
    color: #363636;
    transition: 0.7s;
}

.button:hover {
    border: solid 2px #363636;
    background-color: #363636;
    color: white;
}
