.portfolio-image {
  height: 350px;
  /* width: 100% */
}

.main-hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.283);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.app-button:hover {
  background-color: whitesmoke;
  border: solid 2px #4287f5;
  color: #4287f5;
  transition: 0.7s;
}

.app-button {
  border: solid 2px #4287f5;
  background-color: #4287f5;
  color: white;
  transition: 0.7s;
}

.github-button {
  border: solid 2px #FFBD59;
  background-color: #FFBD59;
  color: white;
  transition: 0.5s;
}

.github-button:hover {
  background-color: whitesmoke;
  border: solid 2px #FFBD59;
  color: #FFBD59;
  transition: 0.3s;
}