.project-image {
  border-radius: 0.5%;
}

.main-hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.283);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} */

.project-hr {
  border: 0;
  height: 0;
  border-top: 2px solid #363636;
}

.project-section {
  background: #A9D1FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    whitesmoke,
    #A9D1FF
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    whitesmoke,
    #A9D1FF
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-description {
  font-family: "Lora", serif;
  font-size: large;
}

.app-button,
.github-button {
  background-color: transparent;
  border: solid 2px #363636;
  color: #363636;
  transition: 0.7s;
}

.app-button:hover,
.github-button:hover {
  border: solid 2px #363636;
  background-color: #363636;
  color: whitesmoke;
  transition: 0.7s;
}
