/* Styling on entire blob */
.profile-picture-blob {
  width: 127%;
}

/* Styling for blobs and image */

#image {
  transition: all 0.35s ease-in-out;
}

.light-blue-blob {
  stroke: none;
  fill-rule: evenodd;
  fill: #a9d1ff;
  fill-opacity: 1;
  /* transition: all 0.35s ease-in-out; */
}

/* #image:hover, .light-blue-blob:hover,
.dark-blue-blob:hover {
  transform: scale(1.1);
} */

.dark-blue-blob {
  stroke: none;
  fill-rule: evenodd;
  fill: #2f7fff;
  fill-opacity: 1;
  /* transition: all 0.35s ease-in-out; */
}

