.profile-picture-blob {
  width: 127%;
}

#image {
  transition: all 0.2s ease-in-out;
}

.light-blue-blob {
  stroke: none;
  fill-rule: evenodd;
  fill: rgb(66.268921%, 81.959534%, 100%);
  fill-opacity: 1;
  transition: all 0.2s ease-in-out;
}

#image:hover, .light-blue-blob:hover,
.dark-blue-blob:hover {
  transform: scale(1.1);
}

.dark-blue-blob {
  stroke: none;
  fill-rule: evenodd;
  fill: rgb(18.429565%, 49.798584%, 100%);
  fill-opacity: 1;
}
