.hero-section {
  background-image: url("../../images/hero-test.png");
  /* background-size: contain;
  background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
  top: 40%;
}

.hero-title {
  position: absolute;
  max-width: 800px;
}
