/* Background styling */
.hero-section {
  background-image: url("../../images/hero-background2.png");
  background-size: cover;
}

.hero-image {
  visibility: hidden;
}
/* Typography */
.hero-title {
  max-width: 800px;
}

.hero-subtitle {
  font-size: 40px !important;
}

/* These stylings will take effect at 1023px */
@media screen and (max-width: 1023px) {
  .hero-title {
    font-size: 45px !important;
  }
  .hero-subtitle {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .blob-one {
    max-height: 150px;
  }
  .blob-two {
    max-height: 250px;
  }
  .hero-titles {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 527px) {
  .hero-title {
    font-size: 40px !important;
  }
  .hero-subtitle {
    font-size: 20px !important;
  }
}
