.hero::before {
    content: "";
    background-image: url("../../images/hero-image.jpg");
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  
  .hero-title {
    line-height: 1;
    text-shadow: 2px 2px #5555552c;
  }