.home-hero {
  background-image: url("../../images/hero-image.jpg");
  background-size: cover;
}

.home-title {
  line-height: 1;
  font-family: "Playfair Display", serif;
  text-shadow: 4px 4px #3f3f3fa3;
}
