.home-hero {
    background-image: url("../../images/hero-image.jpg");
    background-size: cover;
  }
  
  .home-title {
    line-height: 1;
    font-family: "Playfair Display", serif;
    text-shadow: 1px 1px #835f662e;
    /* font-size: larger; */
  }
