/* Background styling */
.about-section {
   background: #ff512f;
  background: -webkit-linear-gradient(to right, #f09819, #ff512f);
  background: linear-gradient(to right, #f09819, #ff512f);
}

/* Buttons */
.resume-button {
  border: solid 2px #0575e6;
  background-color: #0575e6;
  color: whitesmoke;
  transition: 0.7s;
}

.resume-button:hover {
  background-color: transparent;
  border: solid 2px #0575e6;
  color: whitesmoke;
  transition: 0.7s;
}

@media screen and (max-width: 768px) {
  .jeanarose {
    padding-top: 0px !important;
    margin-top: 0px !important;
  }
}
