.navbar-item:hover {
  color: rgb(216, 216, 216) !important;
}

a.navbar-item.has-text-right.has-text-light:hover {
  background-color: #363636;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover {
  background-color: #363636 !important;
}