.navbar-item:hover {
  color: black;
  background-color: whitesmoke !important;
}

a.navbar-item.has-text-right.has-text-light:hover {
  background-color: whitesmoke;
}

.navbar-brand:hover {
  background-color: whitesmoke !important;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
}

#navbarBasicExample, .navbar {
  background-color: whitesmoke;
}

