html {
  background-color: #f5f5f5;
}

.title,
.subtitle {
  font-family: "Poppins", sans-serif;
}

.is-size-1 {
  font-size: 65px !important;
}

.is-primary {
  background-color: #4287f5 !important;
}

.break {
  border: 10px solid #363636;
}
