html {
  background-color: #f5f5f5;
}

p {
  font-family: "Lora", serif;
  font-size: large;
}

.title, .subtitle {
  font-family: 'Poppins', sans-serif;
}

.is-primary {
  background-color: #4287f5 !important;
}
