html {
  background-color: whitesmoke;
}

p {
  font-family: "Lora", serif;
  font-size: large;
}

.is-size-1 {
  font-family: "Playfair Display", serif;
  /* font-family: "Work Sans", sans-serif; */
}

.is-primary {
  background-color: #4287f5 !important;
}
